<!-- <div style="float: left"%>
  <%# content_for :head do %>
    <!-- <h2>Log in</h2> -->
    <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!-- <span class="field">
        <%#= f.label :email %>
        <%#= f.email_field :email, autofocus: true %>
      </span>

      <span class="field">
        <%#= f.label :password %>
        <%#= f.password_field :password, autocomplete: "off" %>
      </span>

      <div>
      <% #if devise_mapping.rememberable? -%>
        <span class="field">
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        </span>
      <%# end -%>
      
      <%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <span class="field">
          <%#= link_to "Forgot your password?", new_password_path(resource_name) %>
        </span>
      <%# end -%>

      <span class="actions">
        <%#= f.submit "Log in" %>
      </span>
    <%# end %> -->

    <%#= render "users/shared/links" %>
  <%# end %>
<!--</div> -->

<div id="owl-example" class="owl-carousel">
  <div><img src="/assets/Beautiful Flying Birds (5).jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/Beauty-of-nature-random-4884759-1280-800.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/colorful-birds-backgrounds-1024-768-hd.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/Hopetoun_falls.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/Nature-HD-Background-3.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/Nature-pictures-1.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/nature-water-2880x1800.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/white-flying-bird.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/beautiful_nature_landscape_05_hd_picture_166223.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/best-nature-photos-download-10.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/c1b217dea6.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/nature-os-free-download-wallpaper-nature-wallpaper-download-hd-for-mobile-1024x768-desktop-pc-full-size-3d-images.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/1587822.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/african_lion_king-wide.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/mac-wallpapers-lion.jpg" alt="Conference and prize-giving"></div>
  <div><img src="/assets/portrait_of_a_predator-wide.jpg" alt="Conference and prize-giving"></div>
</div>