<%= form_for([@team, @plan, @phase, @objective, @post]) do |f| %>
  <div class="slogan-title">
    What thought on your mind: 
  </div>
  <div class="post">
    <%= f.hidden_field :user_id, :value => current_user.id if current_user %>
    <div><%= f.text_area :title, :cols => "60", :rows => "3" %></div>
    <div class="actions">
      <%= f.submit "Post", class: "btn"%>
    </div>
  </div>
<% end %>
