*{margin:0;padding:0}
li{
	list-style:none;
}
table{
	border-collapse:separate;
	border-spacing:0;
}
img{
	border:0;
}
input[type="submit"],input[type="text"]{
	-webkit-appearance:none;
}
body{
	font-family:MuseoSans,serif;
	font-size:15px;
	color:#313131;
	background:#e1e3e4;
	overflow-x:hidden;
}
a{
	color:#3c948b;
	text-decoration:none;
	-webkit-transition:color .25s ease-out;transition:color .25s ease-out;
}
a:hover{
	color:#313131;
	text-decoration:none
}
.x-h1{
	font-size:45px;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom:23px;
	font-weight:normal;
	line-height:170%;
}
h1,.h1{
	font-size:34px;
}
h2,.h2{
	font-size:26px;
}
h3,.h3{
	font-size:21px;
}
h4{
	font-size:15px;
}
h5{
	font-size:15px;
}
h6{
	font-size:12px;
}
.h4{
	font-size:18px;
}
h4.hr{
	padding-bottom:20px;
	border-bottom:1px solid #d2d6d5;
	line-height:normal;
}
p,blockquote,.p{
	margin-bottom:23px;
	line-height:190%;
}
img{
	max-width:100%;
	height:auto;
}
input,textarea,select{
	font-family:MuseoSans,serif;
	font-size:15px;
	color:#313131;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}

#header {
	position:relative;
	font-family:'MuseoSans_Thin';
	z-index:11;

	nav {
		position:relative;
		width:100%;
		height:47px;
		line-height:48px;
		background:#e1e3e4;
		border-bottom:1px solid #d2d6d5;
		z-index:200;
		-webkit-transition:background .25s ease-out;
		transition:background .25s ease-out;
	}

	.menu>li{
		float:left;
	}
	nav.top{
		color:#a6abab;
		background:#f4f4f4;z-index:11;

		.slogan{
			float:left;
			margin:0;
			margin-left:20px;
			font-size:15px;
			font-weight:normal;
			line-height:47px;
		}

		li.login a{
			margin:0 20px 0 10px;
			color:#313131;
			text-decoration:underline;
			font-weight:bold;
		}
		li.login a:hover{
			text-decoration:none;
		}
	}

	nav.main{
		height:66px;
		line-height:67px;
		font-size:14px;
		text-transform:uppercase;
	}
	.logo{
		display:inline-block;
		width:188px;
		height:22px;
		background-size:100% 100%;
	}
	.logo.light{
		background-image:url(../bundles/tvweb/images/logo-light.svg);
	}
	.logo a{
		display:block;
		height:22px;
		text-indent:-34em;
		overflow:hidden;
	}
	.logo.large{
		width:376px;
		height:44px;
	}
	nav .logo{
		float:left;
		margin:23px 0 0 20px;
	}

	nav.main {
		ul.menu{
			position:absolute;right:0;

			li{
				position:relative;

				a, span{
					display:block;
					height:66px;
					padding:0 15px;
					color:#313131;
					-webkit-transition:background .25s ease-out,color .25s ease-out;
					transition:background .25s ease-out,color .25s ease-out;
				}
			}

			li:first-child{
				border-left:none;
			}
		}

		ul.menu>li{
			border-left:1px solid #d2d6d5;
		}

		ul.menu>li.active a,ul.menu>li.active span{
			font-family:'MuseoSans_Fat';
		}

		ul.menu>li a:hover,ul.menu>li span:hover,ul.menu>li.open span{
			background-color:#f4f4f4;
		}
	}
	li.dark:hover{
		background-color:#333;
	}
}

.wrapper{
	min-height: 468px;

	.container {
		.content-left, .content-center, .content-right { display: inline-block;margin: 10px auto; }

		.content-left {
			float: left;
			width: 25%;
		}

		.content-center {
			width: 50%;
			background: #f4f4f4;

			.slogan-title {
				font-family: cursive;
  			font-size: large;
			}
			.content {
				margin:10px;

				.title {
					border: 1px solid grey;
					margin-top: inherit;
				}

				.post-submit {
					float: left;
  				margin-right: 198px;
				}

				.post {
					padding: 5px;
				}

				.btn {
				  background: #3498db;
				  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
				  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
				  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
				  background-image: -o-linear-gradient(top, #3498db, #2980b9);
				  background-image: linear-gradient(to bottom, #3498db, #2980b9);
				  -webkit-border-radius: 28;
				  -moz-border-radius: 28;
				  border-radius: 5px;
				  font-family: Arial;
				  color: #ffffff;
				  font-size: 15px;
				  text-decoration: none;
				}

				.btn:hover {
				  background: #3cb0fd;
				  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
				  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
				  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
				  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
				  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
				  text-decoration: none;
				}
			}
		}
		.content-right {
			float: right;
			width: 25%;
		}

		.clear {
			clear: both;
		}

		.owl-carousel {
			margin: 10px;
		}

		.owl-carousel .owl-item{
		    height:240px !important;
		    width:440px !important;
		    margin:50px !important;
		    overflow: hidden;
		    display: block;
		}
	}
}

#footer {
	position:relative;
	clear:both;
	margin-top:1px;
	color:#444;
	overflow:hidden;

	nav.footer{
		padding:30px 0 10px 0;
		background:#202121;
		font-size:14px;
		overflow:hidden;

		.inner{
			max-width:inherit;
		}

		.copy{
			padding-left:60px;
			background-size:53px 14px;
		}

		ul{
			margin-bottom:10px;
			overflow:hidden;
		}

		li{
			float:left;
			margin:0 15px 10px 0;
			padding-right:15px;
			text-transform:uppercase;
			font-family:'MuseoSans_Fat';
			border-right:1px solid #333;
		}

		li:last-child{
			margin-right:0;
			padding-right:0;
			border-right:0;
		}

		li a:hover{
			color:#888;
		}

		a{
			color:#555;
		}
	}
}