<footer id="footer">

  <!-- <div class="box-social">
      <div class="list-follow">
          <ul>
              <li class="twitter">
                  <a href="http://www.twitter.com/awwwards" target="_blank">Twitter</a>
              </li>
              <li class="facebook">
                  <a href="http://www.facebook.com/awwwards/" target="_blank">Facebook</a>
              </li>
              <li class="googleplus">
                  <a href="https://plus.google.com/109196847768624896871/posts" target="_blank">Google+</a>
              </li>
              <li class="heart"></li>
              <li class="pinterest">
                  <a href="http://www.pinterest.com/awwwardscom/" target="_blank">Pinterest</a>
              </li>
              <li class="vimeo">
                  <a href="http://vimeo.com/awwwards" target="_blank">Vimeo</a>
              </li>
              <li class="rss">
                  <a href="http://feeds.feedburner.com/awwwards-sites-of-the-day" target="_blank">RSS</a>
              </li>
          </ul>
      </div>
  </div>

  <div class="box-featured">
      <div class="inner grid">
          <ul class="list-item list-flex">
              <li class="col n-3">
                  <div class="box-default style3">
                      <figure class="rollover">
                          <a href="http://conference.awwwards.com/"><img src="./Best Clean Websites   Web Design Inspiration_files/conferences.png" width="186" height="156" alt="Conference and prize-giving"></a>
                      </figure>
                      <div class="info">
                          <h3 class="bold"><a href="http://conference.awwwards.com/">Conference and prize-giving</a></h3>
                          <div class="row"><a href="http://conference.awwwards.com/">Read more</a></div>
                      </div>
                  </div>
              </li>
              <li class="col n-3">
                  <div class="box-default style3">
                      <figure class="rollover">
                          <a href="http://www.awwwards.com/about-certificates/"><img src="./Best Clean Websites   Web Design Inspiration_files/certificates.png" width="186" height="156" alt="Certificates and prizes&lt;"></a>
                      </figure>
                      <div class="info">
                          <h3 class="bold"><a href="http://www.awwwards.com/about-certificates/">Certificates and prizes</a></h3>
                          <div class="row"><a href="http://www.awwwards.com/about-certificates/">Read more</a></div>
                      </div>
                  </div>
              </li>
              <li class="col n-3">
                  <div class="box-default style3">
                      <figure class="rollover">
                          <a href="http://www.awwwards.com/jury/2015/"><img src="./Best Clean Websites   Web Design Inspiration_files/jury.png" width="186" height="156" alt="Jury"></a>
                      </figure>
                      <div class="info">
                          <h3 class="bold"><a href="http://www.awwwards.com/jury/2015/">Jury 2015</a></h3>
                          <div class="row"><a href="http://www.awwwards.com/jury/2015/">Read more</a></div>
                      </div>
                  </div>
              </li>
              <li class="col n-3">
                  <div class="box-default style3 featured">
                      <figure class="rollover">
                          <a href="http://dashboard.webydo.com/landingpages/starta.aspx?&utm_source=awwwards&utm_medium=cpc&utm_content=footer&utm_campaign=sponsorship" rel="nofollow" target="_blank"><img src="./Best Clean Websites   Web Design Inspiration_files/webydo.png" width="186" height="156" alt="webydo"></a>
                      </figure>
                      <div class="info">
                          <h3 class="bold"><a href="http://dashboard.webydo.com/landingpages/starta.aspx?&utm_source=awwwards&utm_medium=cpc&utm_content=footer&utm_campaign=sponsorship" rel="nofollow">Design &amp; Manage Code-Free Sites</a></h3>
                          <div class="row"><span class="color-green">Official Sponsor</span></div>
                      </div>
                  </div>
              </li>
          </ul>
          <h4>The Aw<span>ww</span>ards that recognize the talent and effort of the best web designers in the World.</h4>
      </div>
  </div> -->

  <nav class="footer">
      <div class="inner">
          <div class="left">
              <div class="copy">© COPYRIGHT 2010-15</div>
          </div>
          <div class="right">
              <ul>
                  <li><a href="http://www.awwwards.com/about-us/">About us</a></li>
                  <li><a href="http://www.awwwards.com/about-evaluation/">Evaluation System</a></li>
                  <li><a href="http://www.awwwards.com/terms/">Legal terms</a></li>
                  <li><a href="http://www.awwwards.com/contact-us/">Contact us</a></li>
                  <li><a href="https://awwwards.desk.com/">Help</a></li>
              </ul>
          </div>
      </div>
  </nav>

</footer>