<footer>
	<nav class="footer">
      <div class="inner">
          <div class="left">
              <div class="copy">© TheDailyTrack 2015</div>
          </div>
          <div class="right">
              <ul>
                  <li><a href="http://www.awwwards.com/about-us/">About us</a></li>
                  <li><a href="http://www.awwwards.com/about-evaluation/">Evaluation System</a></li>
                  <li><a href="http://www.awwwards.com/terms/">Legal terms</a></li>
                  <li><a href="http://www.awwwards.com/contact-us/">Contact us</a></li>
                  <li><a href="https://awwwards.desk.com/">Help</a></li>
              </ul>
          </div>
      </div>
  </nav>

</footer>